---
import type { ClientsSection } from "@types";
import SectionContainer from "./SectionContainer.astro";
import { Image } from "astro:assets";

interface Props {
  clients: ClientsSection;
}

const { clients } = Astro.props;
---

<SectionContainer id="clients" class="recent-blog-posts section-bg">
  <div class="section-header">
    <h2>Nuestros clientes</h2>
  </div>
  <div class="row gy-5 pb-4">
    {
      clients.map((cliente) => (
        <div class="col-xl-2 col-md-2">
          <div class="post-item position-relative">
            <div
              class="post-img position-relative overflow-hidden"
              style={`background-color: ${cliente.color_fondo};`}
            >
              <Image
                src={cliente.imagen}
                class="img-fluid w-100"
                alt={cliente.nombre}
                height={250}
                width={250}
              />
            </div>
          </div>
        </div>
      ))
    }
  </div>
</SectionContainer>
