---
import { LOGO_TEXT, MENU_ITEMS, address } from "src/constants";
import EmailLink from "./EmailLink.astro";
import FacebookIcon from "./icons/FacebookIcon.astro";
import InstagramIcon from "./icons/InstagramIcon.astro";
import LinkdnIcon from "./icons/LinkdnIcon.astro";
import TwitterXIcon from "./icons/TwitterXIcon.astro";
import TelephoneLink from "./TelephoneLink.astro";
import NewsLetterForm from "./NewsLetterForm.astro";
---

<footer id="footer" class="footer">
  <div class="footer-content position-relative">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="footer-info">
            <h3>{LOGO_TEXT}</h3>
            <p>
              {address}
              <br />
              <strong>Teléfono:</strong>
              <TelephoneLink /><br />
              <strong>Correo electrónico:</strong>
              <EmailLink /><br />
            </p>
            <div class="social-links d-flex mt-3">
              <a
                href="#"
                class="d-flex align-items-center justify-content-center"
                ><TwitterXIcon /></a
              >
              <a
                href="#"
                class="d-flex align-items-center justify-content-center"
                ><FacebookIcon /></a
              >
              <a
                href="#"
                class="d-flex align-items-center justify-content-center"
                ><InstagramIcon /></a
              >
              <a
                href="#"
                class="d-flex align-items-center justify-content-center"
                ><LinkdnIcon /></a
              >
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Menú</h4>
          <ul>
            {
              MENU_ITEMS.map((menuItem) => (
                <li>
                  <a href={menuItem.url}>{menuItem.title}</a>
                </li>
              ))
            }
          </ul>
        </div>

        <div class="col-lg-3 col-md-4 footer-links">
          <h4>Nuestros Servicios</h4>
          <ul>
            <li><a href="#">Acabados y Terminaciones</a></li>
            <li><a href="#">Fiscalización y Dirección de Obras</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-4 footer-links">
          <h4>Newsletter</h4>
          <NewsLetterForm />
        </div>
      </div>
    </div>
  </div>

  <div class="footer-legal text-center position-relative">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Moochsoft</span></strong>. All Rights
        Reserved
      </div>
    </div>
  </div>
</footer>
