---
import Logo from "@assets/image/logo.png"
import { Image } from "astro:assets";
import { LOGO_TEXT, MENU_ITEMS } from "src/constants";

const currentPathname = new URL(Astro.request.url).pathname;
---

<header id="header" class="header d-flex align-items-center">
  <div
    class="container-fluid container-xl d-flex align-items-center justify-content-between"
  >
    <a href="/" class="logo d-flex align-items-center">
        <Image src={Logo} alt={LOGO_TEXT} />
    </a>

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    <nav id="navbar" class="navbar">
      <ul>
        {
          MENU_ITEMS.map((menuItem) => (
            <li>
              <a
                href={menuItem.url}
                class:list={[{ active: currentPathname === menuItem.url }]}
              >
                {menuItem.title}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>
