---
import Logo from "@assets/image/logo-ligth.png";
import { Image } from "astro:assets";
import { LOGO_TEXT, MENU_ITEMS } from "src/constants";

const currentPathname = new URL(Astro.request.url).pathname;
---

<header id="header" class="header d-flex align-items-center">
  <div
    class="container-fluid container-xl d-flex align-items-center justify-content-between"
  >
    <a href="/" class="logo d-flex align-items-center">
      <Image src={Logo} alt={LOGO_TEXT} />
    </a>

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    <nav id="navbar" class="navbar">
      <ul>
        {
          MENU_ITEMS.map((menuItem) => (
            <li>
              <a
                href={menuItem.url}
                class:list={[{ active: currentPathname === menuItem.url }]}
              >
                {menuItem.title}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>
<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    "use strict";

    const mobileNavShow = document.querySelector(".mobile-nav-show");
    const mobileNavHide = document.querySelector(".mobile-nav-hide");

    document.querySelectorAll(".mobile-nav-toggle").forEach((el) => {
      el.addEventListener("click", function (event) {
        event.preventDefault();
        mobileNavToogle();
      });
    });

    function mobileNavToogle() {
      document.querySelector("body").classList.toggle("mobile-nav-active");
      mobileNavShow.classList.toggle("d-none");
      mobileNavHide.classList.toggle("d-none");
    }

    /**
     * Hide mobile nav on same-page/hash links
     */
    document.querySelectorAll("#navbar a").forEach((navbarlink) => {
      if (!navbarlink.hash) return;

      let section = document.querySelector(navbarlink.hash);
      if (!section) return;

      navbarlink.addEventListener("click", () => {
        if (document.querySelector(".mobile-nav-active")) {
          mobileNavToogle();
        }
      });
    });

    /**
     * Toggle mobile nav dropdowns
     */
    const navDropdowns = document.querySelectorAll(".navbar .dropdown > a");

    navDropdowns.forEach((el) => {
      el.addEventListener("click", function (event) {
        if (document.querySelector(".mobile-nav-active")) {
          event.preventDefault();
          this.classList.toggle("active");
          this.nextElementSibling.classList.toggle("dropdown-active");

          let dropDownIndicator = this.querySelector(".dropdown-indicator");
          dropDownIndicator.classList.toggle("bi-chevron-up");
          dropDownIndicator.classList.toggle("bi-chevron-down");
        }
      });
    });
  });
</script>
