<section id="hero" class="hero">
  <div id="contenedor-divisiones">
    <div
      id="division-1"
      class="division"
      style="background-image: url(/img/home/hero-home.webp)"
    >
      <div class="overlay"></div>
      <div class="container">
        <div class="row justify-content-center">
          <div
            class="col-lg-11 text-center text-white d-flex flex-column align-items-center gap-2"
          >
            <h2>Perfeccionamos tus espacios con detalles de alta calidad</h2>
            <div>
              <a href="#get-started" class="btn-get-started"
                >Conozca nuestras obras</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
