---

---

<form id="newsletter-form" method="POST">
  <input
    type="email"
    class="form-control"
    name="email"
    placeholder="Tu correo"
    required
  />
  <button type="submit">Enviar</button>
</form>
<style>
  #newsletter-form {
    display: flex;
    gap: 5px;
    align-items: center;
  }
  #newsletter-form button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
</style>
