---
interface Props {
  id: string;
  containerClass?: string;
  class: string;
  fullWidth?: boolean;
}

const { containerClass, fullWidth = false } = Astro.props;

const container = fullWidth
  ? "section-container-full-width"
  : "section-container";
const sectionClass = fullWidth ? "section-full-width" : "";
---

<section id={Astro.props.id} class:list={[sectionClass, Astro.props.class]}>
  <div class:list={[container, containerClass]}>
    <slot />
  </div>
</section>
<style>
  .section-container {
    box-sizing: initial;
    max-width: var(--max-width-global-wrap);
    margin-right: auto;
    margin-left: auto;
    padding-right: var(--margin-wrap-left-right);
    padding-left: var(--margin-wrap-left-right);
  }

  .section-container-full-width {
    box-sizing: initial;
  }

  .section-full-width {
    padding: 0 !important;
  }
</style>
