---
import { telephone } from "src/constants";
import WhatsappIcon from "./icons/WhatsappIcon.astro";

const whatsappNumber = telephone;
const messagePreview =
  "¡Hola! Estoy interesado en conocer más sobre sus servicios. Me comunico desde su página web y agradecería su atención.";
---

<style>
  .whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 24px;
    z-index: 1000;
    cursor: pointer;
    text-decoration: none;
    animation: pulse 2s infinite;
  }

  .whatsapp-button:hover {
    background-color: #20b358;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
      box-shadow: 0 0 10px rgba(37, 211, 102, 0.7);
    }
    50% {
      transform: scale(1.1);
      box-shadow: 0 0 20px rgba(37, 211, 102, 1);
    }
    100% {
      transform: scale(1);
      box-shadow: 0 0 10px rgba(37, 211, 102, 0.7);
    }
  }
</style>

<a
  href={`https://wa.me/${whatsappNumber}?text=${encodeURIComponent(messagePreview)}`}
  target="_blank"
  class="whatsapp-button"
  aria-label="Chat on WhatsApp"
>
  <WhatsappIcon />
</a>
