---
import Header from "@components/Header.astro";
import "@styles/bootstrap.scss";
import "@styles/global.css";

import "@assets/vendor/aos/aos.css";
import "@assets/vendor/glightbox/css/glightbox.min.css";
import "@assets/vendor/glightbox/css/plyr.min.css";
import "@assets/vendor/swiper/swiper-bundle.min.css";
import "@assets/vendor/bootstrap-icons/bootstrap-icons.css";
import 'aos/dist/aos.css';
import ClientProvider from "./ClientProvider.astro";
import Footer from "@components/Footer.astro";
import WhatsappFAB from "@components/WhatsappFAB.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <WhatsappFAB />
    <Footer />
    <script>
      // Import only what you need
      import "bootstrap/js/dist/alert";
      import "bootstrap/js/dist/button";
      import "bootstrap/js/dist/carousel";
      import "bootstrap/js/dist/collapse";
      import "bootstrap/js/dist/dropdown";
      import "bootstrap/js/dist/modal";
      import "bootstrap/js/dist/offcanvas";
      import "bootstrap/js/dist/popover";
      import "bootstrap/js/dist/scrollspy";
      import "bootstrap/js/dist/tab";
      import "bootstrap/js/dist/toast";
      import "bootstrap/js/dist/tooltip";
      import AOS from "aos";
      AOS.init();
    </script>
    <ClientProvider />
  </body>
</html>
<style is:global></style>
